.cabeçalho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
    background-color: teal;
    color: #fff;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 60vh;
    background-color: blueviolet;
}

.container .l-e{
    flex-grow: 1;
    background-color: brown;
}

.container .l-d{
    flex-grow: 1;
    background-color: coral;
}